.navbar-title-logo {
  font-family: "Comfortaa";
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin: 15px;
  width: calc(100% - 30px);
  color: #7c4dff !important;
  text-decoration: none !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.navbar-role-text {
  position: absolute;
  top: 7px;
  left: 18px;
  font-size: 10px;
  font-family: "Comfortaa";
  color: #7c4dff;
  font-weight: 700;
}

.navbar-main-logo {
  position: relative;
  left: -20px;
  margin-right: 0px;
}

.main-logo {
  font-size: 40px !important;
  font-weight: 500 !important;
  text-shadow: 1px 1px 10px #7c4dff !important;
}

.main-logo:hover {
  color: rgba(124, 77, 255, 0.8) !important;
  text-shadow: 1px 1px 5px #7c4dff !important;
}

.max-width-100 {
  max-width: 100% !important;
}

.clearfix {
  clear: both;
}
