.navbar-title-logo {
  font-family: "Comfortaa";
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin: 15px;
  width: calc(100% - 30px);
  color: var(--main-color) !important;
  text-decoration: none !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.navbar-role-text {
  position: absolute;
  top: 7px;
  left: 18px;
  font-size: 10px;
  font-family: "Comfortaa";
  color: var(--main-color);
  font-weight: 700;
}

.navbar-main-logo {
  position: relative;
  left: -20px;
  margin-right: 0px;
}

.main-logo {
  font-size: 35px !important;
  font-weight: 500 !important;
  text-shadow: 1px 1px 10px var(--main-color) !important;
}

.main-logo:hover {
  color: rgba(124, 77, 255, 0.8) !important;
  text-shadow: 1px 1px 5px var(--main-color) !important;
}

.account-navbar-dropdown {
  position: relative;
  left: 35px;
}

.account {
  border-radius: 12px;
  width: 34px;
  height: 34px;
  background-color: var(--secondary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
}

[aria-labelledby="account-dropdown"] {
  left: -7em !important;
}

.account-name {
  font-family: "Comfortaa" !important;
  font-size: 17px !important;
  color: white;
  margin-top: revert;
}

.account:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}

.navbar-icon {
  position: relative;
  top: 6px;
  left: -5px;
  color: var(--main-color);
}

.main-navbar-link {
  color: rgb(0, 0, 0, 0.6) !important;
  text-shadow: 0.1px 0.1px 1px grey !important;
  margin-top: 3px;
  font-family: comfortaa;
}

.main-navbar-link:hover {
  color: var(--main-color) !important;
  font-weight: 600 !important;
  text-shadow: 0.1px 0.1px 1px grey !important;
}

.dropdown-item:active {
  background-color: white !important;
}

.dropdown-item:focus {
  background-color: white !important;
}

.navbar-link-container-active {
  background-color: var(--main-color-light) !important;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item.dropdown.navbar-link-container-active {
  border-radius: 7px;
}

.max-width-100 {
  max-width: 100% !important;
}

.clearfix {
  clear: both;
}

[aria-labelledby="collasible-nav-dropdown"] {
  margin-top: 2px !important;
  padding: 0px !important;
}

@media (max-width: 992px) {
  .navbar-link-container-active {
    background-color: var(--main-color-light) !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  [aria-labelledby="collasible-nav-dropdown"] {
    margin-bottom: 5px !important;
  }

  .account-navbar-dropdown {
    left: 0px;
  }
}
